.cta {
    border: none;
    background: none;
  }
  
  .cta span {
    padding-bottom: 7px;
    font-size: 1.1rem;
  }
  
  .hover-underline-animation {
    position: relative;
    color: #FFFFFF;
    padding-bottom: 20px;
  }
  
  .hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #FFFFFF;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .shadowButtons{
    text-shadow: 2px 4px 11px rgba(255, 255, 255, 0.6);
  }