@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 17, 14, 14;
  --background-end-rgb: 0, 0, 0;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 17, 14, 14;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
}

.window-outline {
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
  outline-offset: -1px;
  background-image: radial-gradient(
    circle farthest-side at 50% 0,
    rgba(242, 242, 242, 0.2),
    rgba(0, 0, 0, 0)
  );
  border-radius: 24px;
  border-left: 1px solid rgba(242, 242, 242, 0.15);
  border-right: 1px solid rgba(242, 242, 242, 0.15);
  border-top: 1px solid rgba(242, 242, 242, 0.15);
  padding: 8px;
  overflow: hidden;
}

.video-border {
  border-radius: 50px !important;
}

.neon-text {
  color: #ffffffc7;
  text-shadow: 0 0 5px #ffffffc7;
}

.neon {
  height: 2rem;
  animation: flicker 7s linear infinite;
  width: 100%;
  filter: drop-shadow(0px 0px 3px #ffffff);
}

.loadership_UIUWW {
  display: flex;
  position: relative;
  width: 18px;
  height: 10px;
}

.loadership_UIUWW div {
  position: absolute;
  top: 6px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #000;
  animation: loadership_UIUWW_bounce 2.25s infinite;
  animation-timing-function: linear;
}

.loadership_UIUWW div:nth-child(1) {
  animation-delay: 0s;
  left: 0px;
}
.loadership_UIUWW div:nth-child(2) {
  animation-delay: 0.48s;
  left: 7px;
}
.loadership_UIUWW div:nth-child(3) {
  animation-delay: 0.97s;
  left: 14px;
}

.loadership_BHRHK {
  display: flex;
  position: relative;
  width: 72px;
  height: 72px;
}

.loadership_BHRHK div {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ffffff;
  animation: loadership_BHRHK_scale 1.2s infinite,
    loadership_BHRHK_fade 1.2s infinite;
  animation-timing-function: linear;
}

.loadership_BHRHK div:nth-child(1) {
  animation-delay: 0s;
  top: 62px;
  left: 32px;
}
.loadership_BHRHK div:nth-child(2) {
  animation-delay: -0.1s;
  top: 58px;
  left: 47px;
}
.loadership_BHRHK div:nth-child(3) {
  animation-delay: -0.2s;
  top: 47px;
  left: 58px;
}
.loadership_BHRHK div:nth-child(4) {
  animation-delay: -0.3s;
  top: 32px;
  left: 62px;
}
.loadership_BHRHK div:nth-child(5) {
  animation-delay: -0.4s;
  top: 17px;
  left: 58px;
}
.loadership_BHRHK div:nth-child(6) {
  animation-delay: -0.5s;
  top: 6px;
  left: 47px;
}
.loadership_BHRHK div:nth-child(7) {
  animation-delay: -0.6s;
  top: 2px;
  left: 32px;
}
.loadership_BHRHK div:nth-child(8) {
  animation-delay: -0.7s;
  top: 6px;
  left: 17px;
}
.loadership_BHRHK div:nth-child(9) {
  animation-delay: -0.8s;
  top: 17px;
  left: 6px;
}
.loadership_BHRHK div:nth-child(10) {
  animation-delay: -0.9s;
  top: 32px;
  left: 2px;
}
.loadership_BHRHK div:nth-child(11) {
  animation-delay: -1s;
  top: 47px;
  left: 6px;
}
.loadership_BHRHK div:nth-child(12) {
  animation-delay: -1.1s;
  top: 58px;
  left: 17px;
}

.loadership_WIHDK {
  display: flex;
  position: relative;
  width: 68px;
  height: 68px;
}

.loadership_WIHDK div {
  animation: loadership_WIHDK_roller 1.2s infinite;
  animation-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
  transform-origin: 34px 34px;
}
.loadership_WIHDK div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ffffff;
}

.loadership_WIHDK div:nth-child(1) {
  animation-delay: 0s;
}
.loadership_WIHDK div:nth-child(1):after {
  top: 60px;
  left: 30px;
}

.loadership_WIHDK div:nth-child(2) {
  animation-delay: -0.04s;
}
.loadership_WIHDK div:nth-child(2):after {
  top: 56px;
  left: 45px;
}

.loadership_WIHDK div:nth-child(3) {
  animation-delay: -0.07s;
}
.loadership_WIHDK div:nth-child(3):after {
  top: 45px;
  left: 56px;
}

.loadership_WIHDK div:nth-child(4) {
  animation-delay: -0.11s;
}
.loadership_WIHDK div:nth-child(4):after {
  top: 30px;
  left: 60px;
}

.loadership_WIHDK div:nth-child(5) {
  animation-delay: -0.14s;
}
.loadership_WIHDK div:nth-child(5):after {
  top: 15px;
  left: 56px;
}

.loadership_WIHDK div:nth-child(6) {
  animation-delay: -0.18s;
}
.loadership_WIHDK div:nth-child(6):after {
  top: 4px;
  left: 45px;
}

.loadership_WIHDK div:nth-child(7) {
  animation-delay: -0.22s;
}
.loadership_WIHDK div:nth-child(7):after {
  top: 0px;
  left: 30px;
}

.loadership_WIHDK div:nth-child(8) {
  animation-delay: -0.25s;
}
.loadership_WIHDK div:nth-child(8):after {
  top: 4px;
  left: 15px;
}

.loadership_WIHDK div:nth-child(9) {
  animation-delay: -0.29s;
}
.loadership_WIHDK div:nth-child(9):after {
  top: 15px;
  left: 4px;
}

.loadership_WIHDK div:nth-child(10) {
  animation-delay: -0.32s;
}
.loadership_WIHDK div:nth-child(10):after {
  top: 30px;
  left: 0px;
}

.loadership_WIHDK div:nth-child(11) {
  animation-delay: -0.36s;
}
.loadership_WIHDK div:nth-child(11):after {
  top: 45px;
  left: 4px;
}

.loadership_WIHDK div:nth-child(12) {
  animation-delay: -0.4s;
}
.loadership_WIHDK div:nth-child(12):after {
  top: 56px;
  left: 15px;
}

.loadership_MANQV {
  display: flex;
  position: relative;
  width: 72px;
  height: 72px;
}

.loadership_MANQV div {
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ffffff;
  animation: loadership_MANQV_scale 1.2s infinite,
    loadership_MANQV_fade 1.2s infinite;
  animation-timing-function: linear;
}

.loadership_MANQV div:nth-child(1) {
  animation-delay: 0s;
  top: 62px;
  left: 32px;
}
.loadership_MANQV div:nth-child(2) {
  animation-delay: -0.1s;
  top: 58px;
  left: 47px;
}
.loadership_MANQV div:nth-child(3) {
  animation-delay: -0.2s;
  top: 47px;
  left: 58px;
}
.loadership_MANQV div:nth-child(4) {
  animation-delay: -0.3s;
  top: 32px;
  left: 62px;
}
.loadership_MANQV div:nth-child(5) {
  animation-delay: -0.4s;
  top: 17px;
  left: 58px;
}
.loadership_MANQV div:nth-child(6) {
  animation-delay: -0.5s;
  top: 6px;
  left: 47px;
}
.loadership_MANQV div:nth-child(7) {
  animation-delay: -0.6s;
  top: 2px;
  left: 32px;
}
.loadership_MANQV div:nth-child(8) {
  animation-delay: -0.7s;
  top: 6px;
  left: 17px;
}
.loadership_MANQV div:nth-child(9) {
  animation-delay: -0.8s;
  top: 17px;
  left: 6px;
}
.loadership_MANQV div:nth-child(10) {
  animation-delay: -0.9s;
  top: 32px;
  left: 2px;
}
.loadership_MANQV div:nth-child(11) {
  animation-delay: -1s;
  top: 47px;
  left: 6px;
}
.loadership_MANQV div:nth-child(12) {
  animation-delay: -1.1s;
  top: 58px;
  left: 17px;
}

@keyframes loadership_MANQV_scale {
  0%,
  20%,
  80%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

@keyframes loadership_MANQV_fade {
  0%,
  20%,
  80%,
  100% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
}

@keyframes loadership_WIHDK_roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loadership_BHRHK_scale {
  0%,
  20%,
  80%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

@keyframes loadership_BHRHK_fade {
  0%,
  20%,
  80%,
  100% {
    opacity: 0.8;
  }
  50% {
    opacity: 1;
  }
}

@keyframes loadership_UIUWW_bounce {
  0%,
  12.888888888888888%,
  32.22222222222222%,
  51.55555555555555%,
  64.44444444444444%,
  100% {
    transform: translateY(0);
  }

  25.777777777777775% {
    transform: translateY(-6px);
  }

  38.666666666666664% {
    transform: translateY(-2.4000000000000004px);
  }
}

@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: 0.9;
  }

  6% {
    opacity: 0.85;
  }

  8% {
    opacity: 0.95;
  }

  10% {
    opacity: 0.9;
  }

  11% {
    opacity: 0.922;
  }

  12% {
    opacity: 0.9;
  }

  14% {
    opacity: 0.95;
  }

  16% {
    opacity: 0.98;
  }

  17% {
    opacity: 0.9;
  }

  19% {
    opacity: 0.93;
  }

  20% {
    opacity: 0.99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: 0.94;
  }

  28% {
    opacity: 0.98;
  }

  37% {
    opacity: 0.93;
  }

  38% {
    opacity: 0.5;
  }

  39% {
    opacity: 0.96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: 0.97;
  }

  46% {
    opacity: 0.94;
  }

  56% {
    opacity: 0.9;
  }

  58% {
    opacity: 0.9;
  }

  60% {
    opacity: 0.99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: 0.9;
  }

  72% {
    opacity: 0.95;
  }

  93% {
    opacity: 0.93;
  }

  95% {
    opacity: 0.95;
  }

  97% {
    opacity: 0.93;
  }

  to {
    opacity: 1;
  }
}
