@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.window-outline {
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
  outline-offset: -1px;
  background-image: radial-gradient(
    circle farthest-side at 50% 0,
    rgba(242, 242, 242, 0.2),
    rgba(0, 0, 0, 0)
  );
  border-radius: 24px;
  border-left: 1px solid rgba(242, 242, 242, 0.15);
  border-right: 1px solid rgba(242, 242, 242, 0.15);
  border-top: 1px solid rgba(242, 242, 242, 0.15);
  padding: 8px;
  overflow: hidden;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.4), 0 0 60px rgba(0, 0, 0, 0.2),
    0 30px 120px rgba(0, 0, 0, 0.8);
}

.neon-text{
  color: #fff;
  text-shadow:
    0 0 5px #fff;
}