@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(var(--background-start-rgb)),
      rgb(var(--background-end-rgb))
    );
}

.window-outline {
  -webkit-backdrop-filter: none;
  backdrop-filter: none;
  outline-offset: -1px;
  background-image: radial-gradient(
    circle farthest-side at 50% 0,
    rgba(242, 242, 242, 0.2),
    rgba(0, 0, 0, 0)
  );
  border-radius: 24px;
  border-left: 1px solid rgba(242, 242, 242, 0.15);
  border-right: 1px solid rgba(242, 242, 242, 0.15);
  border-top: 1px solid rgba(242, 242, 242, 0.15);
  padding: 8px;
  overflow: hidden;
}

.video-border{
  border-radius: 50px !important;
}

.neon-text{
  color: #ffffffc7;
  text-shadow:
    0 0 5px #ffffffc7;
}

.neon {
  height: 2rem;
  animation: flicker 7s linear infinite;
  width: 100%;
  filter: drop-shadow(0px 0px 3px #ffffff);
}




.loadership_UIUWW {
  display: flex;
  position: relative;
  width: 18px;
  height: 10px;
}

.loadership_UIUWW div {
  position: absolute;
  top: 6px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #000;
  animation: loadership_UIUWW_bounce 2.25s infinite;
  animation-timing-function: linear;
}

.loadership_UIUWW div:nth-child(1) {
      animation-delay: 0.00s;
      left: 0px;
  }
.loadership_UIUWW div:nth-child(2) {
      animation-delay: 0.48s;
      left: 7px;
  }
.loadership_UIUWW div:nth-child(3) {
      animation-delay: 0.97s;
      left: 14px;
  }


@keyframes loadership_UIUWW_bounce {
  0%, 12.888888888888888%, 32.22222222222222%, 51.55555555555555%, 64.44444444444444%, 100% {
    transform: translateY(0);
  }

  25.777777777777775% {
    transform: translateY(-6px);
  }

  38.666666666666664% {
    transform: translateY(-2.4000000000000004px);
  }
}




@keyframes flicker {
  from {
    opacity: 1;
  }

  4% {
    opacity: .9;
  }

  6% {
    opacity: .85;
  }

  8% {
    opacity: .95;
  }

  10% {
    opacity: .90;
  }

  11% {
    opacity: .922;
  }

  12% {
    opacity: .9;
  }

  14% {
    opacity: .95;
  }

  16% {
    opacity: .98;
  }

  17% {
    opacity: .9;
  }

  19% {
    opacity: .93;
  }

  20% {
    opacity: .99;
  }

  24% {
    opacity: 1;
  }

  26% {
    opacity: .94;
  }

  28% {
    opacity: .98;
  }

  37% {
    opacity: .93;
  }

  38% {
    opacity: .5;
  }

  39% {
    opacity: .96;
  }

  42% {
    opacity: 1;
  }

  44% {
    opacity: .97;
  }

  46% {
    opacity: .94;
  }

  56% {
    opacity: .9;
  }

  58% {
    opacity: .9;
  }

  60% {
    opacity: .99;
  }

  68% {
    opacity: 1;
  }

  70% {
    opacity: .9;
  }

  72% {
    opacity: .95;
  }

  93% {
    opacity: .93;
  }

  95% {
    opacity: .95;
  }

  97% {
    opacity: .93;
  }

  to {
    opacity: 1;
  }
}
