.arrow {
  text-align: center;
  margin: 5% 0;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}




.noise {
  mix-blend-mode: overlay;
  background-image: url("https://assets-global.website-files.com/63dcb6e1a80e9454b630f4c4/644af0299bc01254815ae442_noise-overlay-2.png");
  background-position: 0 0;
  background-size: 200px;
  display: block;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.noise-gradient {
  z-index: 2;
  height: 50%;
  background-image: linear-gradient(
    to right,
    transparent 5%,
    var(--on-background) 50%,
    transparent 95%
  );
  opacity: 0.7;
  filter: blur(100px);
  border-radius: 2000px;
  display: none;
  position: absolute;
  top: 96px;
  bottom: auto;
  left: 24px;
  right: 24px;
}